agir-db @ git+https://github.com/agircc/agir-db.git
python-dotenv==1.0.0
openai>=1.78.1
anthropic>=0.51.0
PyYAML>=6.0.1
langchain>=0.3.25
langchain-community>=0.3.24
langchain-openai>=0.3.17
langchain-anthropic>=0.3.13
fastapi==0.104.1
uvicorn==0.23.2
pydantic==2.5.0
python-multipart==0.0.6
requests>=2.30.0 
email-validator==2.1.0.post1
tk==0.1.0
langchain-ollama==0.3.3
